//extends ../layout
block content 
a(href="/bicicletas") Volver
br
br
br
h1 Nueva Bicicleta
form(action='/bicicletas/agregar' method='post')
    label(for='id') Id: 
      input#id(name='id' type='text')
      br  
      
      label(for='color') Color:  
      input#color(name='color' type='text')
      br    
     
      label(for='modelo') Modelo:   
      input#modelo(name='modelo' type='text')   
      br   
      
      label(for='lat') Latitud:  
      input#lat(name='lat' type='text') 
      br   
      
      label(for='lng') Longitud: 
      input#lng(name='lng' type='text') 
      br
      input(type='submit' value='Ok')