//extends ../layout
block content 
a(href="/bicicletas/agregar") Nueva Bicicleta
    table.table
      thead
        tr
            th.col Id         
            th.col Color        
            th.col Modelo        
            th.col Ubicacion
            th.col
      tbody
      each bici in bicis
        tr
          td #{bici.id}           
          td #{bici.color}           
          td #{bici.modelo}          
          td #{bici.ubicacion} 
          td 
            a(href='/bicicletas/'+bici.id+'/modificar') Modificar
          
          td 
            form(method='post' action='/bicicletas/'+bici.id+'/eliminar')
              input(type="hidden" name="id" value= bici.id)
              button(type="submit" name="submit_param" value="submit_value")  Eliminar
              
             