//extends ../layout
block content 
a(href="/bicicletas") Volver
br
br
br
h1 Modificar Bicicleta
form(action="/bicicletas/"+bici.id+"/modificar" method='post')
    label(for='id') Id: 
      input#id(name='id' type='text' value=bici.id)
      br  
      
      label(for='color') Color:  
      input#color(name='color' type='text' value= bici.color)
      br    
     
      label(for='modelo') Modelo:   
      input#modelo(name='modelo' type='text' value=bici.modelo)   
      br   
      
      label(for='lat') Latitud:  
      input#lat(name='lat' type='text' value=bici.ubicacion[0]) 
      br   
      
      label(for='lng') Longitud: 
      input#lng(name='lng' type='text' value=bici.ubicacion[1]) 
      br
      input(type='submit' value='Ok')